<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" href="statics/app-logo-128x128.png">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="statics/icons/favicon-96x96.png">
    <link rel="icon" type="image/ico" href="statics/icons/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Acme|Anton|Archivo+Narrow|Arimo|Arvo|Asap|Baloo+Chettan|Barlow|Bitter|Blinker|Bree+Serif|Cabin|Crimson+Pro|Crimson+Text|Dancing+Script|Darker+Grotesque|Exo|Exo+2|Farro|Fira+Code|Fira+Sans|Fjalla+One|Grenze|Heebo|Hind|Hind+Siliguri|Indie+Flower|Josefin+Sans|Karla|Lacquer|Lato|Libre+Baskerville|Libre+Caslon+Text|Libre+Franklin|Lobster|Lora|Merriweather|Merriweather+Sans|Monda|Montserrat|Muli|Nanum+Gothic|Noto+Sans|Noto+Sans+JP|Noto+Sans+TC|Noto+Serif|Nunito|Open+Sans|Open+Sans+Condensed:300|Oswald|Oxygen|PT+Sans|PT+Sans+Narrow|PT+Serif|Pacifico|Playfair+Display|Poppins|Questrial|Quicksand|Raleway|Red+Hat+Display|Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab|Rubik|Saira+Stencil+One|Shadows+Into+Light|Slabo+27px|Source+Code+Pro|Source+Sans+Pro|Source+Serif+Pro|Teko|Titillium+Web|Ubuntu|Varela+Round|Work+Sans|Yanone+Kaffeesatz&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=ABeeZee|Aldrich|Alegreya|Alegreya+Sans|Alegreya+Sans+SC|Alfa+Slab+One|Amaranth|Amatic+SC|Amiri|Archivo+Black|Assistant|Bahianita|Barlow+Condensed|Barlow+Semi+Condensed|Barriecito|Beth+Ellen|Cairo|Cantarell|Cardo|Catamaran|Caveat|Cinzel|Comfortaa|Concert+One|Cookie|Cormorant+Garamond|Courgette|Crete+Round|Cuprum|DM+Sans|DM+Serif+Display|DM+Serif+Text|Didact+Gothic|Domine|EB+Garamond|Fira+Sans+Condensed|Fira+Sans+Extra+Condensed|Francois+One|Frank+Ruhl+Libre|Great+Vibes|Hind+Madurai|IBM+Plex+Sans|Kalam|Kanit|Kaushan+Script|Lobster+Two|Ma+Shan+Zheng|Martel|Maven+Pro|Mukta|Nanum+Myeongjo|News+Cycle|Noticia+Text|Noto+Sans+SC|Old+Standard+TT|Orbitron|Overpass|PT+Sans+Caption|Pathway+Gothic+One|Patua+One|Permanent+Marker|Play|Prompt|Quattrocento|Quattrocento+Sans|Rajdhani|Red+Hat+Text|Righteous|Rokkitt|Ropa+Sans|Russo+One|Sacramento|Satisfy|Signika|Tajawal|Tinos|Ubuntu+Condensed|Volkhov|Vollkorn|Zilla+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arapey|Baloo|Bangers|BenchNine|Cabin+Condensed|Changa|Chivo|Economica|Fredoka+One|Gloria+Hallelujah|Gothic+A1|Gudea|Handlee|Hind+Guntur|Hind+Vadodara|IBM+Plex+Serif|Istok+Web|Josefin+Slab|Khand|Lalezar|Long+Cang|Luckiest+Guy|M+PLUS+1p|Neucha|Neuton|Passion+One|Patrick+Hand|Playfair+Display+SC|Poiret+One|Prata|Radley|Ruda|Saira|Sanchez|Sawarabi+Mincho|Special+Elite|Tangerine|Viga|Yantramanav|Zhi+Mang+Xing&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
